* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Light";
    src: local("HANDGOTN"),
    url("./fonts/HANDGOTN.TTF") format("truetype");
}




html, body, #root {
    height: 100%;
}

#root {
    display: grid;
    height: 100vh;
}

.App{
    display: grid;
    grid-template-rows: 5em auto 5em;
}
